.logo-img {
    height: 150px;
    width: auto;
  }
  
  @media (max-width: 768px) {
    .logo-img {
        height: 50px;
    }
  }

  @media (max-width: 480) {
    .logo-img {
        height: 10px;
    }
  }
.title-name {
    font-size: large;
    text-size-adjust: auto;
  }
  
  @media (max-width: 768px) {

  }

  @media (max-width: 480) {

  }

  .all-flyers-div {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr)); /* Adjust column width as needed */
    gap: 2em; /* Adjust the gap between items as needed */
  }

  .flyer-div {
    border: 1px solid #ddd; /* Optional: Add a border for each item */
    padding: 2em; /* Adjust padding as needed */
  }
  